In [1]:
import pandas as pd

In [2]:
def count_open(series):
    return series.equals("open").sum(1)

In [3]:
url_ports = pd.read_csv("../data/onions_ports.csv")
url_ports

,url,21,22,23,25,80,110,143,443,3306,8080
0,wwjewp6ca4rkudyj.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed
1,u76xgym22s4adf55.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed
2,elherbotsiddarol.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed
3,yermrrzeg4fusqx5.onion,closed,closed,closed,closed,open,closed,closed,closed,closed,closed
4,safebtck4qejiero.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed
...,...,...,...,...,...,...,...,...,...,...,...
24419,pedohubmjvubl2l4fetveue3iputis6vmaks2op72hnsee...,closed,closed,closed,closed,open,closed,closed,closed,closed,closed
24420,beautyboywgdfffd2vb7ap6scsq26iwl2dt6vscqomxref...,closed,closed,closed,closed,open,closed,closed,closed,closed,closed
24421,bqtwpiwqdyepqgmw2jut5qmwmjsf3dw3ae3ofp2sebujg2...,closed,closed,closed,closed,open,closed,closed,closed,closed,closed
24422,eu4onvzbxs2mydyocgzjj3w7k5dro3nfv7eyh6ylefq2kp...,closed,closed,closed,closed,open,closed,closed,closed,closed,closed
24423,ulbfs4eolkdibcampdvefx7tnv6syn75ahcl23kow6go6w...,closed,closed,closed,closed,open,closed,closed,closed,closed,closed

In [4]:
url_ports["num_open_ports"] = url_ports.isin({"open"}).sum(1)
url_ports.sort_values(by=["num_open_ports"], ascending=False, inplace=True)
url_ports

,url,21,22,23,25,80,110,143,443,3306,8080,num_open_ports
20859,blackhost7pws76u6vohksdahnm6adf7riukgcmahrwt43...,closed,open,closed,open,open,closed,open,open,closed,open,6
2530,danielas3rtn54uwmofdo3x2bsdifr47huasnmbgqzfrec...,closed,closed,closed,open,open,open,open,open,closed,closed,5
23625,yblgsv67jnuzryt74i5xf76tzf2mf3qfcky2l6tndgjm42...,closed,open,closed,open,open,open,open,closed,closed,closed,5
7663,torbox36ijlcevujx7mjb4oiusvwgvmue7jfn2cvutwa6k...,closed,closed,closed,open,open,open,open,closed,closed,closed,4
353,paranoidlcx3y23p.onion,closed,closed,closed,open,closed,closed,open,open,closed,open,4
...,...,...,...,...,...,...,...,...,...,...,...,...
11549,fd5j42l35zc5xtao.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0
11551,fdecnruua6er2w42.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0
11552,fdm3eh7pq5qxf76k.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0
11553,fdsvym4vm4jy7f2e.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0
12212,hidde4iuh4lkhilqw5dss2ueidwo3hurvn4tg4khgmoli4...,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0

In [5]:
url_ports_grouped_by_count = url_ports[["url", "num_open_ports"]].groupby(["num_open_ports"]).count()
url_ports_grouped_by_count.rename(columns={"url": "count_services"}, inplace=True)
url_ports_grouped_by_count.reset_index(inplace=True)
url_ports_grouped_by_count.sort_values(by=["num_open_ports"], ascending=False, inplace=True)
url_ports_grouped_by_count.reset_index(inplace=True)
url_ports_grouped_by_count.drop(columns=["index"], inplace=True)
url_ports_grouped_by_count

   num_open_ports  count_services
0               6               1
1               5               2
2               4               3
3               3              13
4               2             700
5               1           13305
6               0           10400

In [7]:
port_count = []

# port_list = ["20", "21", "22", "23", "25", "26", "80", "110", "143", "443", "587", "993", "995", "2525", "3306"]
# port_name = ["ftp", "ftp", "ssh", "telnet", "smtp", "rsftp", "http", "pop3", "imap", "https", "smtp", "imaps", "pop3s", "smtp", "mysql"]

port_list = ["21", "22", "23", "25", "80", "110", "143", "443", "3306", "8080"]
port_name = ["ftp", "ssh", "telnet", "smtp", "http", "pop3", "imap", "https", "mysql", "http-alt"]
for port in port_list:
    count = len(url_ports[url_ports[port] == "open"])
    port_count.append(count)

port_count_df = pd.DataFrame([port_list, port_name, port_count])
port_count_df = port_count_df.transpose()
port_count_df.rename(columns={0: "port", 1: "port_name", 2: "count_services"}, inplace=True)
port_count_df.sort_values(by=["count_services"], ascending=False, inplace=True)
port_count_df.reset_index(inplace=True)
port_count_df.drop(columns=["index"], inplace=True)
port_count_df

   port port_name count_services
0    80      http          13935
1    22       ssh            652
2   443     https            117
3   110      pop3             21
4    25      smtp             19
5   143      imap             14
6  8080  http-alt              7
7    21       ftp              4
8    23    telnet              3
9  3306     mysql              0